// COLORS
$dark: rgb(19, 27, 31);
$dark_grey_blue: rgb(53, 69, 89);
$dark_grey_blue_two: rgb(53, 70, 89);
$teal_blue: rgb(0, 153, 183);
$teal_blue_25: rgba(0, 153, 183, 0.25);
$teal_blue_two: rgb(0, 152, 183);
$white: rgb(255, 255, 255);
$white_5: rgba(255, 255, 255, 0.05);
