@import '../../styles/colors.scss';
@import '../../styles/measures.scss';

.card {
  background-color: $white;
  padding: $spacing_small $spacing_medium $spacing_medium;
  border-radius: $border_radius;
}
