@import './modules/styles/colors.scss';

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark_grey_blue_two;
}

#root {
  height: 100vh;
}

span {
  &:empty:before {
    content: '\200b'; // unicode zero width space character
  }
}
